h1 {
color:darkgreen;
text-align: center;
font-family:helvetica;
border style: dotted 5px 
border color: white;
background-color:#AFE1AF;
padding:10px;
font-size: 50px;
}

h2 {
color:darkgreen;
font-family:helvetica;
}
	
body{
	background-color:lightpink;
	text-align: center;
	font-family:helvetica;
	padding:20px;
}

.menu{
	float: right;
	background-color: plum;
	height: 700px;
	width: 300px;
}
	
.monkeeintro{
	background-color: palevioletred;
	border: double oldlace 5px;
	display:inline-block;
	text-align: center;
	padding: 30px;
}

.left{
	float: left;
	display: flex;
   flex-direction: column;
}

.right{
	float: right;
	display: flex;
   flex-direction: column;
}
